.material-card{
    max-width:50rem;
    margin:0 auto;
    padding:0 1.2rem 2.6rem;

    &:focus{
        box-shadow:0.1rem 0.2rem 0.8rem rgba(0, 0, 0, 0.192);
    }

    & .submit-button{
        margin-left:auto;
        margin-right:0.6rem;
    }
}